Explore 2nd Set of CC-Data

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('../data/raw/call-center-performance-report/Call Center - Dataset.csv')

df

,Date,Skill #,Login ID,Location ID,RONA Calls,Long Distance Outbounds,Long Distance Time,ACD Calls,AHT Inbound,AHT Outbound,...,Time in Aux 2,Time in Aux 3,Time in Aux 4,Time in Aux 5,Time in Aux 6,Time in Aux 7,Time in Aux 8,Time in Aux 9,CB Productive Utilization,CB Inbound Utilization
0,01/02/2025,556,6376719,805,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,09:55:19,00:00:00,00:00:00,00:00:00,100,100
1,01/02/2025,556,6376719,Sub Total,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,09:55:19,00:00:00,00:00:00,00:00:00,100,100
2,01/02/2025,556,Sub Total,NaN,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,09:55:19,00:00:00,00:00:00,00:00:00,100,100
3,01/02/2025,557,6376998,421,0,1,00:00:21,0,00:00:00,00:00:21,...,00:31:26,01:00:04,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,01:18:54,34,34
4,01/02/2025,557,6376998,Sub Total,0,1,00:00:21,0,00:00:00,00:00:21,...,00:31:26,01:00:04,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,01:18:54,34,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87898,07/02/2025,852,6382960,402,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87899,07/02/2025,852,6382960,Sub Total,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87900,07/02/2025,852,Sub Total,NaN,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87901,07/02/2025,Sub Total,NaN,NaN,3,52,04:17:58,443,00:15:08,00:04:20,...,19:02:04,22:01:58,00:00:00,00:00:09,44:06:55,00:09:35,00:00:00,09:01:52,25,25
87902,Report Total,NaN,NaN,NaN,625,6155,341:37:15,64255,00:14:53,00:02:20,...,2723:53:24,3231:16:41,220:26:25,272:57:16,5745:35:30,05:14:13,00:34:33,782:40:40,24,24

In [3]:
# Remove all rows with 'Sub Total' in any column and all rows with a non-null 'Location ID'
df_cleaned = df.copy()
# Remove rows where any column contains 'Sub Total'
df_cleaned = df_cleaned[~df_cleaned.apply(lambda row: row.astype(str).str.contains('Sub Total').any(), axis=1)]
# Remove rows where 'Location ID' is not null (if column exists)
# if 'Location ID' in df_cleaned.columns:
#     df_cleaned = df_cleaned[df_cleaned['Location ID'].isnull()]
# df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned

,Date,Skill #,Login ID,Location ID,RONA Calls,Long Distance Outbounds,Long Distance Time,ACD Calls,AHT Inbound,AHT Outbound,...,Time in Aux 2,Time in Aux 3,Time in Aux 4,Time in Aux 5,Time in Aux 6,Time in Aux 7,Time in Aux 8,Time in Aux 9,CB Productive Utilization,CB Inbound Utilization
0,01/02/2025,556,6376719,805,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,09:55:19,00:00:00,00:00:00,00:00:00,100,100
3,01/02/2025,557,6376998,421,0,1,00:00:21,0,00:00:00,00:00:21,...,00:31:26,01:00:04,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,01:18:54,34,34
6,01/02/2025,558,6377632,807,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,100,100
8,01/02/2025,558,6377634,807,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:03:29,00:00:00,00:00:00,00:00:00,00:00:00,100,100
10,01/02/2025,558,6377639,807,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:06:22,00:00:00,00:00:00,00:00:00,00:00:00,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87892,07/02/2025,852,6377701,402,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87894,07/02/2025,852,6382357,402,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87896,07/02/2025,852,6382875,402,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87898,07/02/2025,852,6382960,402,0,0,00:00:00,0,00:00:00,00:00:00,...,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
87902,Report Total,NaN,NaN,NaN,625,6155,341:37:15,64255,00:14:53,00:02:20,...,2723:53:24,3231:16:41,220:26:25,272:57:16,5745:35:30,05:14:13,00:34:33,782:40:40,24,24

In [ ]:
# Export df_cleaned as an Excel file
df_cleaned.to_excel('../data/processed/call_center_cleaned.xlsx', index=False)